/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOLS 1
#define NUMPAD  2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ┌──────────────────────────────────────────────────────────────────────────┐ -- ┌───────────────────────────────────────────────────────────────────────────────┐
// | TAB        | Q          | W          | E         | R         | T         | -- | Y         | U         | I         | O         | P         | BackSpace         |
     &kp TAB      &kp Q        &kp W        &kp E       &kp R       &kp T            &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
// | CTRL       | A          | S          | D         | F         | G         | -- | H         | J         | K         | L         | ;         | ENTER             |
     &kp LCTRL    &kp A        &kp S        &kp D       &kp F       &kp G            &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp RET
// | SHIFT      | Z          | X          | C         | V         | B         | -- | N         | M         | ,         | .         | /         |  ESCAPE           |
     &kp LSHFT    &kp Z        &kp X        &kp C       &kp V       &kp B            &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp ESC
// └───────────────────────────────────                                                                                 ───────────────────────────────────────────┘
//                                     | GUI       | SYMBOLS     | NUMPAD     | -- | SPACEBAR   | MOUSE     | ALT      |
                                         &kp LGUI    &mo SYMBOLS   &mo NUMPAD        &kp SPACE    &mo MOUSE   &kp RALT
//                                     └──────────────────────────────────────┘ -- └───────────────────────────────────┘                    
                        >;
                };
                symbols_layer {
                        bindings = <
// ┌──────────────────────────────────────────────────────────────────────────┐ -- ┌───────────────────────────────────────────────────────────────────────────────┐
// | TAB        | Q          | W          | E         | R         | T         | -- | #         | {         | }         | O         | P         | BackSpace         |
     &kp TAB      &kp Q        &kp W        &kp E       &kp R       &kp T            &kp HASH    &kp LBRC    &kp RBRC    &kp O       &kp P       &kp BSPC
// | CTRL       | A          | S          | D         | F         | G         | -- | *         | (         | )         | L         | ;         | ENTER             |
     &kp LCTRL    &kp A        &kp S        &kp D       &kp F       &kp G            &kp STAR    &kp LPAR    &kp RPAR    &kp L       &kp SEMI    &kp RET
// | SHIFT      | Z          | X          | C         | V         | B         | -- | `         | [         | ]         | .         | /         |  ESCAPE           |
     &kp LSHFT    &kp Z        &kp X        &kp C       &kp V       &kp B            &kp GRAVE   &kp LBKT    &kp RBKT   &kp DOT     &kp FSLH    &kp ESC
// └───────────────────────────────────                                                                                 ───────────────────────────────────────────┘
//                                     | GUI       | SYMBOLS     | NUMPAD     | -- | SPACEBAR   | MOUSE     | ALT      |
                                         &kp LGUI    &mo SYMBOLS   &mo NUMPAD        &kp SPACE    &mo MOUSE   &kp RALT
//                                     └──────────────────────────────────────┘ -- └───────────────────────────────────┘                    
                        >;
                };

                number_layer {
                        bindings = <
// ┌──────────────────────────────────────────────────────────────────────────┐ -- ┌───────────────────────────────────────────────────────────────────────────────┐
// | TAB        | Q          | W          | E         | R         | T         | -- | #         | 7         | 8         | 9         | P         | BackSpace         |
     &kp TAB      &kp Q        &kp W        &kp E       &kp R       &kp T            &kp HASH    &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp P       &kp BSPC
// | CTRL       | A          | S          | D         | F         | G         | -- | *         | 4         | 5         | 6         | ;         | ENTER             |
     &kp LCTRL    &kp A        &kp S        &kp D       &kp F       &kp G            &kp STAR    &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp SEMI    &kp RET
// | SHIFT      | Z          | X          | C         | V         | B         | -- | `         | 1         | 2         | 3         | /         |  ESCAPE           |
     &kp LSHFT    &kp Z        &kp X        &kp C       &kp V       &kp B            &kp GRAVE   &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp FSLH    &kp ESC
// └───────────────────────────────────                                                                                 ───────────────────────────────────────────┘
//                                     | GUI       | SYMBOLS     | NUMPAD     | -- | SPACEBAR   | 0         | ALT      |
                                         &kp LGUI    &mo SYMBOLS   &mo NUMPAD        &kp SPACE    &kp KP_N0   &kp RALT
//                                     └──────────────────────────────────────┘ -- └───────────────────────────────────┘                    
                        >;
                };
        };
};
